<?xml version="1.0" encoding="utf-8" ?> 
<rewriter> 
	<redirect url="/devtools/winforms/api/html/telerik.wincontrols.ui.calendarviewcollection" to="/devtools/winforms/api/html/t_telerik_wincontrols_ui_calendarviewcollection.htm"  processing="stop" />
	<redirect url="/devtools/winforms/installation-deployment-and-distribution/visual-studio-extensions/automatic-latest-version-retrieval" to="/devtools/winforms/installation-deployment-and-distribution/visual-studio-extensions/latest-version-acquirer"  processing="stop" />
	<redirect url="/devtools/winforms/q3_2007/radtreedatabasics" to="/devtools/winforms/treeview/treeview"  processing="stop" />
	<redirect url="/devtools/winforms/installation-deployment-and-distribution/visual-studio-extensions/upgrade-wizard" to="/devtools/winforms/installation-deployment-and-distribution/visual-studio-extensions/upgrade-project"  processing="stop" />
	<redirect url="/devtools/winforms/installation,-deployment-and-distribution/download-product-files" to="/devtools/winforms/installation-deployment-and-distribution/download-product-files"  processing="stop" />
	<redirect url="/devtools/winforms/calendar/customizing-behavior/column-and-row-headers" to="/devtools/winforms/calendar/features/column-and-row-headers"  processing="stop" />
	<redirect url="/devtools/winforms/calendar/important-events" to="/devtools/winforms/calendar/properties-and-events"  processing="stop" />
	<redirect url="/devtools/winforms/dropdown,-listcontrol-and-checkeddropdownlist/dropdownlist/filtering.html" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/dropdownlist/features/filtering"  processing="stop" />
	<redirect url="/devtools/winforms/dropdown,-listcontrol-and-checkeddropdownlist/checkeddropdownlist/getting-started" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/checkeddropdownlist/getting-started"  processing="stop" />
	<redirect url="/devtools/winforms/dropdown,-listcontrol-and-checkeddropdownlist/dropdownlist/selection" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/dropdownlist/features/selection"  processing="stop" />
	<redirect url="/devtools/winforms/architecture_themesoverview" to="/devtools/winforms/themes/using-default-themes"  processing="stop" />
	<redirect url="/devtools/winforms/architecture_handlinguserinputcommandbindings" to="/devtools/winforms/introduction"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-databinding-assigning-image-data-from-a-database" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-databinding-basics" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-databinding-custom-effects-based-on-data" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-databinding-itemdatabound-event" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-databinding-text-format" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-databinding-tutorial-assign-image-data-from-database" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-working-with-items-finding-an-item" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-working-with-items-selecting-an-item" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-combobox-working-with-radcombobox-dropdownstyle" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-listbox-programming-radlistbox" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/combobox-and-listbox-\(obsolete\)-listbox-using-the-itemdatabound-event" to="/devtools/winforms/dropdown-listcontrol-and-checkeddropdownlist/upgrading-to-dropdownlist-and-listcontrol"  processing="stop" />
	<redirect url="/devtools/winforms/dock-object-model-dockwindows-property" to="/devtools/winforms/dock/object-model/raddock-properties-and-methods"  processing="stop" />
	<redirect url="/devtools/winforms/dropdown-and-listcontrol-listcontrol-features" to="/winforms/dropdown-listcontrol-and-checkeddropdownlist/listcontrol/features/sorting"  processing="stop" />
	<redirect url="/devtools/winforms/forms-and-dialogs-shapedform-using-radtitlebar" to="/devtools/winforms/forms-and-dialogs/shapedform/customizing-shapedform"  processing="stop" />
	<redirect url="/devtools/winforms/ganttview-printing-support-printing" to="/devtools/winforms/ganttview/printing-support/printing-events"  processing="stop" />
	<redirect url="/devtools/winforms/gridview-copy-paste" to="/devtools/winforms/gridview/copy-paste-cut"  processing="stop" />
	<redirect url="/devtools/winforms/gridview-populating-with-data-binding-to- observable-collection" to="/devtools/winforms/gridview/populating-with-data/binding-to-observablecollection"  processing="stop" />
	<redirect url="/devtools/winforms/gridview-rows-new-row-custom-text" to="/devtools/winforms/gridview/rows/new-row"  processing="stop" />
	<redirect url="/devtools/winforms/api/html/m_telerik_wincontrols_componentelementtree_getelementatpoint.htm" to="/devtools/winforms/api/html/m_telerik_wincontrols_radelementtree_getelementatpoint.htm"  processing="stop" />
	<redirect url="/devtools/winforms/menus-context-menu" to="/devtools/winforms/menus/contextmenu/context-menus"  processing="stop" />
	<redirect url="/devtools/winforms/api/html/n_telerik_wincontrols_ui_combobox.htm" to="/devtools/winforms/api/html/t_telerik_wincontrols_ui_raddropdownlist.htm"  processing="stop" />
	<redirect url="/devtools/winforms/pageview_overview" to="/devtools/winforms/pageview/overview"  processing="stop" />
	<redirect url="/devtools/winforms/panelbar-appearance-and-styling-creating-a-theme-for-radpanelbar" to="/devtools/winforms/themes/visual-style-builder"  processing="stop" />
	<redirect url="/devtools/winforms/panelbar-design-time-nested-radpanelbar-tutorial" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/panelbar-getting-started" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/panelbar-programming-radpanelbar-creating-panelbar-and-group-elements" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/panelbar-upgrading-to-radpageview" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/pdfprocessing-overview" to="/devtools/winforms/pdfprocessing/overview"  processing="stop" />
	<redirect url="/devtools/winforms/q1_2007/ribbonbarprogrammingmanagingcontextualtabgroups" to="/devtools/winforms/ribbonbar/programming-radribbonbar/managing-contextual-tab-groups"  processing="stop" />
	<redirect url="/devtools/winforms/api/html/r_project.htm" to="/devtools/winforms/api/html/r_project_telerik_ui_for_winforms_documentation.htm"  processing="stop" />
	<redirect url="/devtools/winforms/scheduler_creating_a_custom_editappointment_dialog" to="/devtools/winforms/scheduler/appointments-and-dialogs/adding-a-custom-field-to-the-editappointment-dialog"  processing="stop" />
	<redirect url="/devtools/winforms/scheduler-data-binding-declarative-databinding" to="/devtools/winforms/scheduler/data-binding/introduction"  processing="stop" />
	<redirect url="/devtools/winforms/selecter_rows_and_current_row" to="/devtools/winforms/introduction"  processing="stop" />
	<redirect url="/devtools/winforms/spreadprocessing-overview" to="/devtools/winforms/spreadprocessing/overview"  processing="stop" />
	<redirect url="/devtools/winforms/api/html/t_telerik_wincontrols_ui_radcombobox.htm" to="/devtools/winforms/api/html/t_telerik_wincontrols_ui_raddropdownlist.htm"  processing="stop" />
	<redirect url="/devtools/winforms/tabstrip-appearance-and-styling-build-in-themes" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/tabstrip-overview" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/tabstrip-tabs-add-and-remove-tabs-programmatically" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/tabstrip-tabs-drag-and-drop" to="/devtools/winforms/pageview/upgrading-to-radpageview"  processing="stop" />
	<redirect url="/devtools/winforms/telerik.wincontrols.ui-telerik.wincontrols.ui.desktopalertmanager-getregisteredalerts" to="/devtools/winforms/desktopalert/desktopalertmanager"  processing="stop" />
	<redirect url="/devtools/winforms/telerik.wincontrols.ui-telerik.wincontrols.ui.lightvisualelement" to="/devtools/winforms/telerik-presentation-framework/primitives/lightvisualelement"  processing="stop" />
	<redirect url="/devtools/winforms/telerik.wincontrols-telerik.wincontrols.radhostitem" to="/devtools/winforms/api/html/t_telerik_wincontrols_radhostitem.htm"  processing="stop" />
	<redirect url="/devtools/winforms/themes_overview" to="/devtools/winforms/themes/using-default-themes"  processing="stop" />
	<redirect url="/devtools/winforms/themes_thememanageradding" to="/devtools/winforms/tools/visual-style-builder/adding-custom-themes-to-your-application/adding-radthememanager-to-a-form"  processing="stop" />
	<redirect url="/devtools/winforms/themes_thememanagerloadresource" to="/devtools/winforms/tools/visual-style-builder/adding-custom-themes-to-your-application/load-themes-from-a-resource"  processing="stop" />
	<redirect url="/devtools/winforms/themes_uistateeditor" to="/devtools/winforms/tools/visual-style-builder/visual-style-builder"  processing="stop" />
	<redirect url="/devtools/winforms/themes_workingcustomizingelements" to="/devtools/winforms/themes/using-custom-themes"  processing="stop" />
	<redirect url="/devtools/winforms/themes_workingstateprecedence" to="/devtools/winforms/tools/visual-style-builder/working-with-visual-style-builder/property-precedence-rules"  processing="stop" />
	<redirect url="/devtools/winforms/themes-advanced-topics-theme-color-blending" to="/devtools/winforms/tools/visual-style-builder/working-with-visual-style-builder/color-blending"  processing="stop" />
	<redirect url="/devtools/winforms/tools-controlspy-using-the-control-spy-inspecting-properties" to="/devtools/winforms/tools/controlspy/controlspy"  processing="stop" />
	<redirect url="/devtools/winforms/toolstrip-localization-provider" to="/devtools/winforms/commandbar/commandbar"  processing="stop" />
	<redirect url="/devtools/winforms/toolstrip-styling-and-appearance-radtoolstrip-control-element-structure" to="/devtools/winforms/commandbar/commandbar"  processing="stop" />
	<redirect url="/devtools/winforms/tools-visual-style-builder-working-with-radthememanager-load-themes-from-a-resource" to="/devtools/winforms/tools/visual-style-builder/adding-custom-themes-to-your-application/load-themes-from-a-resource"  processing="stop" />
	<redirect url="/devtools/winforms/treeview-commands-the-findbytextcommand" to="/devtools/winforms/treeview/working-with-nodes/finding-nodes"  processing="stop" />
	<redirect url="/devtools/winforms/treeview-working-with-nodes-responding-to-mouse-click" to="/devtools/winforms/treeview/working-with-nodes/events"  processing="stop" />
	<redirect url="/devtools/winforms/vsb_uielementhiearchyeditor" to="/devtools/winforms/tools/element-hierarchy-editor"  processing="stop" />
	<redirect url="/devtools/winforms/vsb_uistateeditor" to="/devtools/winforms/tools/visual-style-builder/visual-style-builder"  processing="stop" />
	<redirect url="/devtools/winforms/vsb_workingstarting" to="/devtools/winforms/tools/visual-style-builder/starting-vsb"  processing="stop" />
	<redirect url="/devtools/winforms/vsb_workingstateprecedence" to="/devtools/winforms/tools/visual-style-builder/working-with-visual-style-builder/property-precedence-rules"  processing="stop" />
	<redirect url="/devtools/winforms/vsbloadpredefinedthemes" to="/devtools/winforms/themes/using-default-themes"  processing="stop" />
	<redirect url="/devtools/winforms/wordsprocessing-overview" to="/devtools/winforms/wordsprocessing/overview"  processing="stop" />	
	<redirect url="/devtools/winforms/listview/features/working-with-items" to="/devtools/winforms/listview/features/selection" processing="stop">
</rewriter> 