<?xml version="1.0" encoding="utf-8" ?> 
<rewriter> 
	<redirect url="/devtools/winforms/api/html/telerik.wincontrols.ui.calendarviewcollection" to="/devtools/winforms/api/html/t_telerik_wincontrols_ui_calendarviewcollection.htm"  processing="stop" />
	<redirect url="/devtools/winforms/installation-deployment-and-distribution/visual-studio-extensions/automatic-latest-version-retrieval" to="/devtools/winforms/introduction"  processing="stop" />
</rewriter> 