<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <clear />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

    <httpModules>
      <clear />
    </httpModules>

    <httpHandlers>
      <clear />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticFileRewrites">
          {% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
          <add key="/devtools/winforms/{{redirect}}" value="{{ page.url | remove_first: '/' | replace: '.html', '' }}"/>
          {% endfor %}{% endfor %}
          
        <add key="/devtools/winforms/spreadprocessing-working-with-cells-accessing-cells-of-worksheet" value="spreadprocessing/working-with-cells/accessing-cells-of-a-worksheet"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-worksheets-activate-worksheet" value="spreadprocessing/working-with-worksheets/activate-a-worksheet"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-worksheets-add-remove-worksheets" value="spreadprocessing/working-with-worksheets/add-and-remove-worksheets"/>
        <add key="/devtools/winforms/pdfprocessing-model-annotations-and-destinations" value="pdfprocessing/model/annotations-and-destinations"/>
        <add key="/devtools/winforms/pdfprocessing-backward-compatibility" value="pdfprocessing/changes-and-backward-compatibility/backward-compatibility"/>
        <add key="/devtools/winforms/spreadprocessing-backwards-compatibility" value="spreadprocessing/changes-and-backward-compatibility/backwards-compatibility"/>
        <add key="/devtools/winforms/radpdfprocessing-editing-block" value="pdfprocessing/editing/block"/>
        <add key="/devtools/winforms/wordsprocessing-model-bookmark" value="wordsprocessing/model/boomark"/>
        <add key="/devtools/winforms/wordsprocessing-model-break" value="wordsprocessing/model/break"/>
        <add key="/devtools/winforms/spreadprocessing-features-formulas-cell-references" value="spreadprocessing/features/formulas/cell-references"/>
        <add key="/devtools/winforms/spreadprocessing-features-styling-cell-styles" value="spreadprocessing/features/styling/cell-styles"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-cells-cell-value-types" value="spreadprocessing/working-with-cells/cell-value-types"/>
        <add key="/devtools/winforms/wordsprocessing-changes" value="wordsprocessing/changes-and-backward-compatibility/changes"/>
        <add key="/devtools/winforms/pdfprocessing-changes" value="pdfprocessing/changes-and-backward-compatibility/changes"/>
        <add key="/devtools/winforms/spreadprocessing-changes" value="spreadprocessing/changes-and-backward-compatibility/changes"/>
        <add key="/devtools/winforms/spreadprocessing-features-clipboard-support" value="spreadprocessing/features/clipboard-support"/>
        <add key="/devtools/winforms/pdfprocessing-concepts-clipping" value="pdfprocessing/concepts/clipping"/>
        <add key="/devtools/winforms/wordsprocessing-editing-clone-and-merge" value="wordsprocessing/features/clone-and-merge"/>
        <add key="/devtools/winforms/pdfprocessing-concepts-colors-and-color-spaces" value="pdfprocessing/concepts/colors-and-color-spaces"/>
        <add key="/devtools/winforms/wordsprocessing-model-comment" value="wordsprocessing/model/comment"/>
        <add key="/devtools/winforms/ziplibrary-features-compress-a-stream" value="ziplibrary/features/compress-a-stream"/>
        <add key="/devtools/winforms/ziplibrary-features-compression-settings" value="ziplibrary/features/compression-settings"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-workbooks-create-open-and-save-workbooks" value="spreadprocessing/working-with-workbooks/create-open-and-save-workbooks"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-csv" value="spreadprocessing/formats-and-conversion/csv/csv"/>
        <add key="/devtools/winforms/spreadprcessing-features-data-validation" value="spreadprocessing/features/data-validation"/>
        <add key="/devtools/winforms/spreadprocessing-features-formulas-custom-functions" value="spreadprocessing/features/formulas/custom-functions"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-customcodefield" value="wordsprocessing/concepts/customcodefield"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-document-themes" value="wordsprocessing/concepts/document-themes"/>
        <add key="/devtools/winforms/spreadprocessing-features-styling-document-themes" value="spreadprocessing/features/styling/document-themes"/>
        <add key="/devtools/winforms/radwordsprocessing-concepts-document-variables" value="wordsprocessing/concepts/fields/document-variables"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-docx" value="wordsprocessing/formats-and-conversion/docx/docx"/>
        <add key="/devtools/winforms/spreadprocessing-features-formulas-errors" value="spreadprocessing/features/formulas/errors"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-html-features" value="wordsprocessing/formats-and-conversion/html/features"/>
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-pdf-features" value="pdfprocessing/formats-and-conversion/pdf/features"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-pdf-features" value="wordsprocessing/formats-and-conversion/pdf/features"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-rtf-features" value="wordsprocessing/formats-and-conversion/rtf/features"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-pdf-features" value="spreadprocessing/formats-and-conversion/pdf/features"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-xlsx-features" value="spreadprocessing/formats-and-conversion/xlsx/features"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-docx-features" value="wordsprocessing/formats-and-conversion/docx/features"/>
        <add key="/devtools/winforms/wordsprocessing-model-fieldcharacter" value="wordsprocessing/model/fieldcharacter"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-fields" value="wordsprocessing/concepts/fields/fields"/>
        <add key="/devtools/winforms/spreadprocessing-features-filtering" value="spreadprocessing/features/filtering"/>
        <add key="/devtools/winforms/wordsprocessing-editing-find-and-replace" value="wordsprocessing/features/find-and-replace"/>
        <add key="/devtools/winforms/spreadprocessing-features-find-and-replace" value="spreadprocessing/features/find-and-replace"/>
        <add key="/devtools/winforms/pdfprocessing-editing-fixedcontenteditor" value="pdfprocessing/editing/fixedcontenteditor"/>
        <add key="/devtools/winforms/wordsprocessing-model-floatingimage" value="wordsprocessing/model/floatingimage"/>
        <add key="/devtools/winforms/pdfprocessing-concepts-fonts" value="pdfprocessing/concepts/fonts"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-import-export-format-providers-manager" value="spreadprocessing/formats-and-conversion/format-providers-manager"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion" value="wordsprocessing/formats-and-conversion/formats-and-conversion"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion" value="spreadprocessing/formats-and-conversion/formats-and-conversion"/>
        <add key="/devtools/winforms/spreadprocessing-features-formulas" value="spreadprocessing/features/formulas/formulas"/>
        <add key="/devtools/winforms/spreadprocessing-features-freeze-panes" value="spreadprocessing/features/freeze-panes"/>
        <add key="/devtools/winforms/spreadprocessing-features-formulas-functions" value="spreadprocessing/features/formulas/functions"/>
        <add key="/devtools/winforms/pdfprocessing-concepts-geometry" value="pdfprocessing/concepts/geometry"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-cells-get-set-clear-properties" value="spreadprocessing/working-with-cells/get-set-and-clear-cell-properties"/>
        <add key="/devtools/winforms/ziplibrary-getting-started" value="ziplibrary/getting-started"/>
        <add key="/devtools/winforms/spreadprocessing-getting-started" value="spreadprocessing/getting-started"/>
        <add key="/devtools/winforms/pdfprocessing-getting-started" value="pdfprocessing/getting-started"/>
        <add key="/devtools/winforms/wordsprocessing-getting-started" value="wordsprocessing/getting-started"/>
        <add key="/devtools/winforms/spreadprocessing-features-grouping" value="spreadprocessing/features/grouping"/>
        <add key="/devtools/winforms/wordsprocessing-model-headers-and-footers" value="wordsprocessing/model/headers-and-footers"/>
        <add key="/devtools/winforms/spreadprocessing-features-history" value="spreadprocessing/features/history"/>
        <add key="/devtools/winforms/pdfprocessing-how-to-comply-with-pdfa-standard" value="pdfprocessing/how-to/how-to-comply-with-pdf-a-standard"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-html" value="wordsprocessing/formats-and-conversion/html/html-format"/>
        <add key="/devtools/winforms/spreadprocessing-features-hyperlink" value="spreadprocessing/features/hyperlink"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-hyperlinks" value="wordsprocessing/concepts/hyperlinks"/>
        <add key="/devtools/winforms/pdfprocessing-model-image" value="pdfprocessing/model/image"/>
        <add key="/devtools/winforms/wordsprocessing-model-imageinline" value="wordsprocessing/model/imageinline"/>
        <add key="/devtools/winforms/pdfprocessing-model-imagesource" value="pdfprocessing/model/imagesource"/>
        <add key="/devtools/winforms/wordsprocessing-editing-import-document-element" value="wordsprocessing/features/import-document-element"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-cells-insert-remove-cells" value="spreadprocessing/working-with-cells/insert-and-remove-cells"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-rows-and-columns-insert-and-remove" value="spreadprocessing/working-with-rows-and-columns/insert-and-remove-rows-and-columns"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-rows-and-columns-hidden-rows-and-columns" value="spreadprocessing/working-with-rows-and-columns/hidden-rows-columns"/>
        <add key="/devtools/winforms/wordsprocessing-editing-insert-documents" value="wordsprocessing/features/insert-documents"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-worksheets-iterate-through-worksheets" value="spreadprocessing/working-with-worksheets/iterate-through-worksheets"/>
        <add key="/devtools/winforms/radpdfprocessing-editing-list" value="pdfprocessing/editing/list"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-lists" value="wordsprocessing/concepts/lists"/>
        <add key="/devtools/winforms/wordsprocessing-editing-mail-merge" value="wordsprocessing/features/mail-merge"/>
        <add key="/devtools/winforms/spreadprocessing-features-merge-unmerge-cells" value="spreadprocessing/features/merge-and-unmerge-cells"/>
        <add key="/devtools/winforms/radwordsprocessing-concepts-merge-fields-mergefield" value="wordsprocessing/concepts/fields/merge-field"/>
        <add key="/devtools/winforms/wordsprocessing-model" value="wordsprocessing/model/model"/>
        <add key="/devtools/winforms/spreadprocessing-features-named-ranges" value="spreadprocessing/features/names-(named-ranges)"/>
        <add key="/devtools/winforms/spreadprocessing-features-number-formats" value="spreadprocessing/features/number-formatting"/>
        <add key="/devtools/winforms/spreadprocessing-features-formulas-operator" value="spreadprocessing/features/formulas/operator"/>        
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-pdf" value="pdfprocessing/formats-and-conversion/pdf/overview"/>
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-plain-text" value="pdfprocessing/formats-and-conversion/plain-text/overview"/>
        <add key="/devtools/winforms/pdfprocessing-model" value="pdfprocessing/model/overview"/>        
        <add key="/devtools/winforms/wordsprocessing-model-paragraph" value="wordsprocessing/model/paragraph"/>
        <add key="/devtools/winforms/pdfprocessing-model-path" value="pdfprocessing/model/path"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-pdf" value="wordsprocessing/formats-and-conversion/pdf/pdf"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-pdf" value="spreadprocessing/formats-and-conversion/pdf/pdf"/>
        <add key="/devtools/winforms/spreadprocessing-performance" value="spreadprocessing/performance-tips-and-tricks"/>
        <add key="/devtools/winforms/wordsprocessing-model-permissionrange" value="wordsprocessing/model/permissionrange"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-plain-text" value="wordsprocessing/formats-and-conversion/plain-text/plain-text"/>
        <add key="/devtools/winforms/pdfprocessing-concepts-position" value="pdfprocessing/concepts/position"/>
        <add key="/devtools/winforms/ziplibrary-features-protect-ziparchive" value="ziplibrary/features/protect-ziparchive"/>
        <add key="/devtools/winforms/pdfprocessing-model-radfixeddocument" value="pdfprocessing/model/radfixeddocument"/>
        <add key="/devtools/winforms/pdfprocessing-editing-radfixeddocumenteditor" value="pdfprocessing/editing/radfixeddocumenteditor"/>
        <add key="/devtools/winforms/pdfprocessing-model-radfixedpage" value="pdfprocessing/model/radfixedpage"/>
        <add key="/devtools/winforms/wordsprocessing-model-radflowdocument" value="wordsprocessing/model/radflowdocument"/>
        <add key="/devtools/winforms/wordsprocessing-editing-radflowdocumenteditor" value="wordsprocessing/features/radflowdocumenteditor"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-worksheets-rename-worksheet" value="spreadprocessing/working-with-worksheets/rename-a-worksheet"/>
        <add key="/devtools/winforms/spreadprocessing-features-fill-data-automatically-repeat-values" value="spreadprocessing/features/fill-data-automatically/repeat-values"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-rows-and-columns-resizing" value="spreadprocessing/working-with-rows-and-columns/resizing-rows-and-columns"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-rtf" value="wordsprocessing/formats-and-conversion/rtf/rtf"/>
        <add key="/devtools/winforms/wordsprocessing-model-run" value="wordsprocessing/model/run"/>
        <add key="/devtools/winforms/wordsprocessing-model-section" value="wordsprocessing/model/section"/>
        <add key="/devtools/winforms/spreadprocessing-features-fill-data-automatically-series" value="spreadprocessing/features/fill-data-automatically/series"/>
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-plain-text-settings" value="pdfprocessing/formats-and-conversion/plain-text/settings"/>
        <add key="/devtools/winforms/spreadprocessing-format-and-conversion-pdf-settingsl" value="spreadprocessing/formats-and-conversion/pdf/settings"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-rtf-settings" value="wordsprocessing/formats-and-conversion/rtf/settings"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-docx-settings" value="wordsprocessing/formats-and-conversion/docx/settings"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-csv-settings" value="spreadprocessing/formats-and-conversion/csv/settings"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-pdf-settings" value="wordsprocessing/formats-and-conversion/pdf/settings"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-txt-settings" value="spreadprocessing/formats-and-conversion/txt/settings"/>
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-pdf-settings" value="pdfprocessing/formats-and-conversion/pdf/settings"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-html-settings" value="wordsprocessing/formats-and-conversion/html/settings"/>
        <add key="/devtools/winforms/spreadprocessing-features-shapes-and-images" value="spreadprocessing/features/shapes-and-images"/>
        <add key="/devtools/winforms/spreadprocessing-features-sorting" value="spreadprocessing/features/sorting"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-rows-and-columns-what-is-row-column" value="spreadprocessing/working-with-rows-and-columns/spreadprocessing-working-with-rows-and-columns-what-is-row-column"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-style-properties" value="wordsprocessing/concepts/style-properties"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-styles" value="wordsprocessing/concepts/styles"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-html-supported-html-elements" value="wordsprocessing/formats-and-conversion/html/supported-html-elements"/>
        <add key="/devtools/winforms/pdfprocessing-editing-table" value="pdfprocessing/editing/table"/>
        <add key="/devtools/winforms/wordsprocessing-model-table" value="wordsprocessing/model/table"/>
        <add key="/devtools/winforms/pdfprocessing-editing-table-cell" value="pdfprocessing/editing/tablecell"/>
        <add key="/devtools/winforms/wordsprocessing-model-tablecell" value="wordsprocessing/model/tablecell"/>
        <add key="/devtools/winforms/wordsprocessing-model-tablerow" value="wordsprocessing/model/tablerow"/>
        <add key="/devtools/winforms/pdfprocessing-editing-table-row" value="pdfprocessing/editing/tablerow"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-tabstop" value="wordsprocessing/concepts/tabstop"/>
        <add key="/devtools/winforms/pdfprocessing-editing-text-and-graphic-properties" value="pdfprocessing/editing/text-and-graphic-properties"/>
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-plain-text-using-textformatprovider" value="pdfprocessing/formats-and-conversion/plain-text/textformatprovider"/>
        <add key="/devtools/winforms/pdfprocessing-model-textfragment" value="pdfprocessing/model/textfragment"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-txt" value="spreadprocessing/formats-and-conversion/txt/txt"/>
        <add key="/devtools/winforms/ziplibrary-features-update-ziparchive" value="ziplibrary/features/update-ziparchive"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-csv-csvformatprovider" value="spreadprocessing/formats-and-conversion/csv/using-csvformatprovider"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-docx-using-docxformatprovider" value="wordsprocessing/formats-and-conversion/docx/using-docxformatprovider"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-html-usinghtmlformatprovider" value="wordsprocessing/formats-and-conversion/html/using-htmlformatprovider"/>
        <add key="/devtools/winforms/pdfprocessing-formats-and-conversion-pdf-using-pdfformatprovider" value="pdfprocessing/formats-and-conversion/pdf/using-pdfformatprovider"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-docx-using-pdfformatprovider" value="wordsprocessing/formats-and-conversion/pdf/using-pdfformatprovider"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-pdf-pdfformatprovider" value="spreadprocessing/formats-and-conversion/pdf/using-pdfformatprovider"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-rtf-using-rtfformatprovider" value="wordsprocessing/formats-and-conversion/rtf/using-rtfformatprovider"/>
        <add key="/devtools/winforms/wordsprocessing-formats-and-conversion-plain-text-using-txtformatprovider" value="wordsprocessing/formats-and-conversion/plain-text/using-txtformatprovider"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-txt-txtformatprovider" value="spreadprocessing/formats-and-conversion/txt/using-txtformatprovider"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-xlsx-xlsxformatprovider" value="spreadprocessing/formats-and-conversion/xlsx/using-xlsxformatprovider"/>
        <add key="/devtools/winforms/wordsprocessing-concepts-watermark" value="wordsprocessing/concepts/watermark"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-cells-what-is-cell" value="spreadprocessing/working-with-cells/what-is-a-cell"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-worksheets-what-is-worksheet" value="spreadprocessing/working-with-worksheets/what-is-a-worksheet"/>
        <add key="/devtools/winforms/spreadprocessing-working-with-workbooks-what-is-workbook" value="spreadprocessing/working-with-workbooks/whats-is-a-workbook"/>
        <add key="/devtools/winforms/spreadprocessing-features-protection-workbook" value="spreadprocessing/features/protection/workbook-protection"/>
        <add key="/devtools/winforms/spread-processing/features/protection/workbook-protection" value="spreadprocessing/features/protection/workbook-protection"/>
        <add key="/devtools/winforms/spread-processing/features/data-validation" value="spreadprocessing/features/data-validation"/>
        <add key="/devtools/winforms/spread-processing/formats-and-conversion/csv/using-csvformatprovider" value="spreadprocessing/formats-and-conversion/csv/csvformatprovider"/>
        <add key="/devtools/winforms/spreadprocessing-features-worksheetpagesetup" value="spreadprocessing/features/worksheet-page-setup"/>
        <add key="/devtools/winforms/spread-processing/working-with-rows-and-columns/hidden-rows-and-columns" value="spreadprocessing/working-with-rows-and-columns/hidden-rows-columns"/>
        <add key="/devtools/winforms/spreadprocessing-features-protection-worksheet" value="spreadprocessing/features/protection/worksheet-protection"/>
        <add key="/devtools/winforms/spreadprocessing-formats-and-conversion-xlsx" value="spreadprocessing/formats-and-conversion/xlsx/xlsx"/>
        <add key="/devtools/winforms/ziplibrary" value="ziplibrary/ziplibrary"/>

      </rewriteMap>     
        <rewriteMap name="DPL">      
          <add key="/devtools/winforms/pdfprocessing/model/overview" value="radpdfprocessing/model/general-information"/>
          <add key="/devtools/winforms/pdfprocessing/formats-and-conversion/pdf/overview" value="radpdfprocessing/formats-and-conversion/pdf/pdf"/>
          <add key="/devtools/winforms/pdfprocessing/formats-and-conversion/pdf/using-pdfformatprovider" value="radpdfprocessing/formats-and-conversion/pdf/pdfformatprovider"/>
          <add key="/devtools/winforms/pdfprocessing/formats-and-conversion/plain-text/overview" value="radpdfprocessing/formats-and-conversion/pdf/pdf"/>
          <add key="/devtools/winforms/pdfprocessing/how-to/how-to-comply-with-pdf-a-standard" value="radpdfprocessing/howto/comply-with-pdfa-standard"/>    
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/csv/using-csvformatprovider" value="radspreadprocessing/formats-and-conversion/csv/using-csvformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-workbooks/whats-is-a-workbook" value="radspreadprocessing/working-with-workbooks/working-wtih-workbooks-what-is-workbook"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/what-is-a-worksheet" value="radspreadprocessing/working-with-worksheets/what-is-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/add-and-remove-worksheets" value="radspreadprocessing/working-with-worksheets/add-remove-worksheets"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/activate-a-worksheet" value="radspreadprocessing/working-with-worksheets/activate-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/rename-a-worksheet" value="radspreadprocessing/working-with-worksheets/rename-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-rows-and-columns/spreadprocessing-working-with-rows-and-columns-what-is-row-column" value="/radspreadprocessing/working-with-rows-and-columns/what-is-row-column"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-rows-and-columns/insert-and-remove-rows-and-columns" value="radspreadprocessing/working-with-rows-and-columns/insert-and-remove"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-rows-and-columns/resizing-rows-and-columns" value="radspreadprocessing/working-with-rows-and-columns/resizing"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/what-is-a-cell" value="radspreadprocessing/working-with-cells/what-is-cell"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/insert-and-remove-cells" value="radspreadprocessing/working-with-cells/insert-remove-cells"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/accessing-cells-of-a-worksheet" value="radspreadprocessing/working-with-cells/accessing-cells-of-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/get-set-and-clear-cell-properties" value="radspreadprocessing/working-with-cells/get-set-clear-properties"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/formats-and-conversion" value="radspreadprocessing/formats-and-conversion/general-information"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/format-providers-manager" value="radspreadprocessing/formats-and-conversion/import-export-format-providers-manager"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/xlsx/using-xlsxformatprovider" value="radspreadprocessing/formats-and-conversion/xlsx/xlsxformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/pdf/using-pdfformatprovider" value="radspreadprocessing/formats-and-conversion/pdf/pdfformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/pdf/settings" value="radspreadprocessing/formats-and-conversion/pdf/format-and-conversion-settings"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/txt/using-txtformatprovider" value="radspreadprocessing/formats-and-conversion/txt/txtformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/performance-tips-and-tricks" value="radspreadprocessing/performance"/>
          <add key="/devtools/winforms/spreadprocessing/features/formulas/operator" value="radspreadprocessing/features/formulas/operators"/>
          <add key="/devtools/winforms/spreadprocessing/protection/workbook-protection" value="radspreadprocessing/features/protection/workbook"/>
          <add key="/devtools/winforms/spreadprocessing/features/protection/worksheet-protection" value="radspreadprocessing/features/protection/worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/features/merge-and-unmerge-cells" value="radspreadprocessing/features/merge-unmerge-cells"/>
          <add key="/devtools/winforms/spreadprocessing/features/names-(named-ranges)" value="radspreadprocessing/features/named-ranges"/>
          <add key="/devtools/winforms/spreadprocessing/features/number-formatting" value="radspreadprocessing/features/number-formats"/>
          <add key="/devtools/winforms/spreadprocessing/features/worksheet-page-setup" value="radspreadprocessing/features/worksheetpagesetup"/>          
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/plain-text/plain-text" value="radwordsprocessing/formats-and-conversion/plain-text/txt"/>
          <add key="/devtools/winforms/wordsprocessing/model/headers-and-footers" value="radwordsprocessing/model/headers-footers"/>
          <add key="/devtools/winforms/wordsprocessing/model/boomark" value="radwordsprocessing/model/bookmark"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/docx/using-docxformatprovider" value="radwordsprocessing/formats-and-conversion/docx/docxformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/rtf/using-rtfformatprovider" value="radwordsprocessing/formats-and-conversion/rtf/rtfformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/html/supported-html-elements" value="radwordsprocessing/formats-and-conversion/html/supported-elements"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/html/html-format" value="radwordsprocessing/formats-and-conversion/html/html"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/html/using-htmlformatprovider" value="radwordsprocessing/formats-and-conversion/html/htmlformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/pdf/using-pdfformatprovider" value="radwordsprocessing/formats-and-conversion/pdf/pdfformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/plain-text/using-txtformatprovider" value="radwordsprocessing/formats-and-conversion/plain-text/txt-txtformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/features/clone-and-merge" value="radwordsprocessing/editing/clone-and-merge"/>
          <add key="/devtools/winforms/wordsprocessing/features/insert-documents" value="radwordsprocessing/editing/insert-documents"/>
          <add key="/devtools/winforms/wordsprocessing/find-and-replace" value="radwordsprocessing/editing/find-and-replace"/>
          <add key="/devtools/winforms/wordsprocessing/features/find-and-replace" value="radwordsprocessing/editing/find-and-replace"/>
          <add key="/devtools/winforms/wordsprocessing/features/radflowdocumenteditor" value="radwordsprocessing/editing/radflowdocumenteditor"/>
          <add key="/devtools/winforms/wordsprocessing/features/import-document-element" value="radwordsprocessing/editing/import-document-element"/>
          <add key="/devtools/winforms/wordsprocessing/features/mail-merge" value="radwordsprocessing/editing/mail-merge"/>
          <add key="/devtools/winforms/wordsprocessing/concepts/customcodefield" value="radwordsprocessing/concepts/fields/customcodefield"/>
          <add key="/devtools/winforms/ziplibrary/getting-started" value="radziplibrary/gettingstarted"/>
          <add key="/devtools/winforms/ziplibrary/features/compress-a-stream" value="radziplibrary/features/compress-stream"/>         
        </rewriteMap>
      </rewriteMaps>
      <rules> 
        <rule name="Rewrite Rule files">
          <match url=".*" />
          <conditions>
            <add input="{StaticFileRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="/devtools/winforms/{C:1}" redirectType="Permanent"/>
        </rule>
        <rule name="index" enabled="true" stopProcessing="true">
          <match url="^/?$" />
          <action type="Redirect" url="introduction" redirectType="Found" />
        </rule>   
        <!-- Document Processing Redirects Start -->
        <rule name="DPL Map">
          <match url=".*" />
          <conditions>
            <add input="{DPL:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{C:1}" redirectType="Permanent"/>
        </rule> 
        <rule name="pdfprocessing-redirect" enabled="true" stopProcessing="true">
          <match url="pdfprocessing/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="wordsprocessing-redirect" enabled="true" stopProcessing="true">
          <match url="wordsprocessing/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="spreadprocessing-redirect" enabled="true" stopProcessing="true">
          <match url="spreadprocessing/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="ziplibrary-redirect" enabled="true" stopProcessing="true">
          <match url="ziplibrary/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <!-- Document Processing Redirects End -->
		 <rule name="Convert to lower case" stopProcessing="false">  
         <match url="^([^?]*[A-Z][^?]*)(\?.*)?" ignoreCase="false" />  
         <action type="Redirect" url="{ToLower:{R:1}}{R:2}" redirectType="Permanent" />  
       </rule>
        <rule name="add_html_extension" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
		 
	   <rule name="DplAPI" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
          <add input="{REQUEST_FILENAME}" pattern="windows_documents_core" />
          <add input="{REQUEST_FILENAME}" pattern="windows_documents_fixed"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_flow"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_spreadsheet"/>
		  <add input="{REQUEST_FILENAME}" pattern="telerik_windows_zip"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_primitives"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_common"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_formatproviders"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_model"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_media"/>
		  <add input="{REQUEST_FILENAME}" pattern="windows_documents_exceptions"/>		
          <add input="{REQUEST_FILENAME}" pattern="telerik_windows_maths"/>			  
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/{R:0}" redirectType="Permanent" />
		</rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>