<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <clear />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

    <httpModules>
      <clear />
    </httpModules>

    <httpHandlers>
      <clear />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticFileRewrites">
          {% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
          <add key="/devtools/winforms/{{redirect}}" value="{{ page.url | remove_first: '/' | replace: '.html', '' }}"/>
          {% endfor %}{% endfor %}
        </rewriteMap>     
        <rewriteMap name="DPL">
          <add key="/devtools/winforms/pdfprocessing/overview" value="radpdfprocessing/overview"/>
          <add key="/devtools/winforms/pdfprocessing/model/overview" value="radpdfprocessing/model/general-information"/>
          <add key="/devtools/winforms/pdfprocessing/formats-and-conversion/pdf/overview" value="radpdfprocessing/formats-and-conversion/pdf/pdf"/>
          <add key="/devtools/winforms/pdfprocessing/formats-and-conversion/pdf/using-pdfformatprovider" value="radpdfprocessing/formats-and-conversion/pdf/pdfformatprovider"/>
          <add key="/devtools/winforms/pdfprocessing/formats-and-conversion/plain-text/overview" value="radpdfprocessing/formats-and-conversion/pdf/pdf"/>
          <add key="/devtools/winforms/pdfprocessing/how-to/how-to-comply-with-pdf-a-standard" value="radpdfprocessing/howto/comply-with-pdfa-standard"/>
          <add key="/devtools/winforms/spreadprocessing/overview" value="radspreadprocessing/overview"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/csv/using-csvformatprovider" value="radspreadprocessing/formats-and-conversion/csv/using-csvformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-workbooks/whats-is-a-workbook" value="radspreadprocessing/working-with-workbooks/working-wtih-workbooks-what-is-workbook"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/what-is-a-worksheet" value="radspreadprocessing/working-with-worksheets/what-is-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/add-and-remove-worksheets" value="radspreadprocessing/working-with-worksheets/add-remove-worksheets"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/activate-a-worksheet" value="radspreadprocessing/working-with-worksheets/activate-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-worksheets/rename-a-worksheet" value="radspreadprocessing/working-with-worksheets/rename-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-rows-and-columns/spreadprocessing-working-with-rows-and-columns-what-is-row-column" value="/radspreadprocessing/working-with-rows-and-columns/what-is-row-column"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-rows-and-columns/insert-and-remove-rows-and-columns" value="radspreadprocessing/working-with-rows-and-columns/insert-and-remove"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-rows-and-columns/resizing-rows-and-columns" value="radspreadprocessing/working-with-rows-and-columns/resizing"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/what-is-a-cell" value="radspreadprocessing/working-with-cells/what-is-cell"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/insert-and-remove-cells" value="radspreadprocessing/working-with-cells/insert-remove-cells"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/accessing-cells-of-a-worksheet" value="radspreadprocessing/working-with-cells/accessing-cells-of-worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/working-with-cells/get-set-and-clear-cell-properties" value="radspreadprocessing/working-with-cells/get-set-clear-properties"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/formats-and-conversion" value="radspreadprocessing/formats-and-conversion/general-information"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/format-providers-manager" value="radspreadprocessing/formats-and-conversion/import-export-format-providers-manager"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/xlsx/using-xlsxformatprovider" value="radspreadprocessing/formats-and-conversion/xlsx/xlsxformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/pdf/using-pdfformatprovider" value="radspreadprocessing/formats-and-conversion/pdf/pdfformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/pdf/settings" value="radspreadprocessing/formats-and-conversion/pdf/format-and-conversion-settings"/>
          <add key="/devtools/winforms/spreadprocessing/formats-and-conversion/txt/using-txtformatprovider" value="radspreadprocessing/formats-and-conversion/txt/txtformatprovider"/>
          <add key="/devtools/winforms/spreadprocessing/performance-tips-and-tricks" value="radspreadprocessing/performance"/>
          <add key="/devtools/winforms/spreadprocessing/features/formulas/operator" value="radspreadprocessing/features/formulas/operators"/>
          <add key="/devtools/winforms/spreadprocessing/protection/workbook-protection" value="radspreadprocessing/features/protection/workbook"/>
          <add key="/devtools/winforms/spreadprocessing/features/protection/worksheet-protection" value="radspreadprocessing/features/protection/worksheet"/>
          <add key="/devtools/winforms/spreadprocessing/features/merge-and-unmerge-cells" value="radspreadprocessing/features/merge-unmerge-cells"/>
          <add key="/devtools/winforms/spreadprocessing/features/names-(named-ranges)" value="radspreadprocessing/features/named-ranges"/>
          <add key="/devtools/winforms/spreadprocessing/features/number-formatting" value="radspreadprocessing/features/number-formats"/>
          <add key="/devtools/winforms/spreadprocessing/features/worksheet-page-setup" value="radspreadprocessing/features/worksheetpagesetup"/>
          <add key="/devtools/winforms/wordsprocessing/overview" value="/radwordsprocessing/overview"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/plain-text/plain-text" value="radwordsprocessing/formats-and-conversion/plain-text/plain-text"/>
          <add key="/devtools/winforms/wordsprocessing/model/headers-and-footers" value="radwordsprocessing/model/headers-footers"/>
          <add key="/devtools/winforms/wordsprocessing/model/boomark" value="radwordsprocessing/model/bookmark"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/docx/using-docxformatprovider" value="radwordsprocessing/formats-and-conversion/docx/docxformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/rtf/using-rtfformatprovider" value="radwordsprocessing/formats-and-conversion/rtf/rtfformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/html/supported-html-elements" value="radwordsprocessing/formats-and-conversion/html/supported-elements"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/html/html-format" value="radwordsprocessing/formats-and-conversion/html/html"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/html/using-htmlformatprovider" value="radwordsprocessing/formats-and-conversion/html/htmlformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/pdf/using-pdfformatprovider" value="radwordsprocessing/formats-and-conversion/pdf/pdfformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/formats-and-conversion/plain-text/using-txtformatprovider" value="radwordsprocessing/formats-and-conversion/plain-text/txt-txtformatprovider"/>
          <add key="/devtools/winforms/wordsprocessing/features/clone-and-merge" value="radwordsprocessing/editing/clone-and-merge"/>
          <add key="/devtools/winforms/wordsprocessing/features/insert-documents" value="radwordsprocessing/editing/insert-documents"/>
          <add key="/devtools/winforms/wordsprocessing/find-and-replace" value="radwordsprocessing/editing/find-and-replace"/>
          <add key="/devtools/winforms/wordsprocessing/features/radflowdocumenteditor" value="radwordsprocessing/editing/radflowdocumenteditor"/>
          <add key="/devtools/winforms/wordsprocessing/features/import-document-element" value="radwordsprocessing/editing/import-document-element"/>
          <add key="/devtools/winforms/wordsprocessing/features/mail-merge" value="radwordsprocessing/editing/mail-merge"/>
          <add key="/devtools/winforms/wordsprocessing/concepts/customcodefield" value="radwordsprocessing/concepts/fields/customcodefield"/>
          <add key="/devtools/winforms/ziplibrary/ziplibrary" value="radziplibrary/overview"/>
          <add key="/devtools/winforms/ziplibrary/getting-started" value="radziplibrary/gettingstarted"/>
          <add key="/devtools/winforms/ziplibrary/features/compress-a-stream" value="radziplibrary/features/compress-stream"/>         
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Rewrite Rule files">
          <match url=".*" />
          <conditions>
            <add input="{StaticFileRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="/devtools/winforms/{C:1}" redirectType="Permanent"/>
        </rule>
        <rule name="index" enabled="true" stopProcessing="true">
          <match url="^/?$" />
          <action type="Redirect" url="introduction" redirectType="Found" />
        </rule>   
        <!-- Document Processing Redirects Start -->
        <rule name="DPL Map">
          <match url=".*" />
          <conditions>
            <add input="{DPL:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/{C:1}" redirectType="Permanent"/>
        </rule>
        
        <rule name="pdfprocessing-redirect" enabled="true" stopProcessing="true">
          <match url="pdfprocessing/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="wordsprocessing-redirect" enabled="true" stopProcessing="true">
          <match url="wordsprocessing/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="spreadprocessing-redirect" enabled="true" stopProcessing="true">
          <match url="spreadprocessing/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="ziplibrary-redirect" enabled="true" stopProcessing="true">
          <match url="ziplibrary/((.*)[^(overview(?\.html))]).*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" />
          </conditions>
          <action type="Redirect" url="http://docs.telerik.com/devtools/document-processing/libraries/rad{R:0}" redirectType="Permanent" />
        </rule>
        <!-- Document Processing Redirects End -->
        <rule name="add_html_extension" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>