<div id="logo-bar">
	<a href="/devtools/winforms/" title="UI for WinForms">
		<span>UI for WinForms</span>
	</a>
</div> 
<div id="page-search">
	{% include search.html %}
</div>

<span class="show-search">
	<span class="k-icon k-i-search"></span>
</span>

<div class="nav-buttons">
	<a href="http://demos.telerik.com/" title="WinForms Demos" target="_blank" class="btn demos-btn">Demos</a>	
	<a href="http://www.telerik.com/products/winforms.aspx" title="About UI for WinForms" target="_blank" class="btn about-btn">About</a>
	<a href="http://www.telerik.com/purchase/individual/winforms.aspx" title="Pricing" target="_blank" class="btn pricing-btn">Pricing</a>
	<a href="http://www.telerik.com/products/winforms/download.aspx" title="Try now" target="_blank" class="btn btn-primary">Try now</a>
</div>




